!!!
html(ng-app="roboRacer")
  head
    meta(charset='utf8')
    base(href='/')
    title Robo Racer!
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/application.css')
  body
    block body